*,
*::before,
*::after {
  box-sizing: border-box;
  color: #f7f800;
  letter-spacing: 1.5px;
  text-shadow: rgb(0, 0, 0) 1px 1px;
}

* {
  margin: 0;
  border: 1px solid red;
}

@font-face {
  font-family: 'RuneScape UF';
  src: local('RuneScape UF Regular'), local('RuneScape-UF'),
    url('/assets/fonts/RuneScape-UF.woff') format('woff2'),
    url('/assets/fonts/RuneScape-UF.woff') format('woff'),
    url('/assets/fonts/RuneScape-UF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

body {
  font-family: 'Runescape UF', sans-serif;
}

ul,
li,
button {
  all: unset;
}

.content-container {
  background-image: url('/assets/images/osrs-login-screen-1.webp');
  width: 756px;
  height: 503px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.game-logic-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.game-logic-container img {
  height: 200px;
}

.player-health-bar,
.opponent-health-bar {
  width: 100%;
  background-color: #fe0101;
  height: 20px;
  border: 1px solid black;
  position: relative;
}

.opponent-health-bar {
  --opponent-health-width: 100%;
}

.player-health-bar {
  --player-health-width: 100%;
}

.opponent-health-bar::after,
.player-health-bar::after {
  content: '';
  height: 100%;
  background-color: #1aff00;
  position: absolute;
  top: 0;
  left: 0;
}

.player-health-bar::after {
  width: var(--player-health-width);
}

.opponent-health-bar::after {
  width: var(--opponent-health-width);
}

.button-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
}

.attack-button,
.play-btn,
.inactive-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  padding: 0 50px;
}

.attack-button,
.play-btn {
  background-color: #565752;
  border: 4px solid #696051;
  cursor: pointer;
}

.inactive-btn {
  background-color: #761d1870;
  border-color: #59140c70;
  cursor: not-allowed;
  color: #f8f8008a;
}

.attack-button:hover,
.play-btn:hover {
  background-color: #761c18;
  border-color: #59140c;
}

.attack-button::before,
.attack-button::after,
.play-btn::before,
.play-btn::after,
.inactive-btn::before,
.inactive-btn::after {
  content: '';
  right: 0.5em;
  height: 0.5em;
  left: 0.5em;
  position: absolute;
  background-color: inherit;
  border-right: inherit;
  border-left: inherit;
}

.attack-button:hover::before,
.attack-button:hover::after,
.play-btn:hover::before,
.play-btn:hover::after {
  border-color: #59140c;
}

.attack-button::before,
.play-btn::before,
.inactive-btn::before {
  bottom: 100%;
  border-bottom: none;
  border-top: inherit;
}

.attack-button::after,
.play-btn::after,
.inactive-btn::after {
  top: 100%;
  border-top: none;
  border-bottom: inherit;
}

.footer-btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.play-btn,
.inactive-btn {
  margin-left: auto;
  margin-right: -36px;
}

.music-button {
  background-image: url('/assets/images/osrs-music-icon\(2\).png');
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-left: auto;
}

.game-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #41434d;
  flex-basis: 50%;
  border-radius: 40px;
  border: 4px solid #0b0b0b;
}

#round {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

#result {
  font-size: 1.5rem;
  margin-top: 24px;
}

#cpu-selection {
  margin-bottom: 16px;
}

h2 {
  text-align: center;
}
